.container {
  max-width: 45rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.container h1 {
  text-align: center;
}

.spacer {
  width: 60%;
  height: 1rem;
  margin: 1rem 0;
  align-self: center;
  background-color: #d9d9d9;
}

.uploadButton {
  margin: 4rem 0;
  align-self: center;
}
